.font-custom{
    font-size: 20px !important;
}

.w100{
    width: 250px;
}

.btn-danger{
    background-color: #dc4c64 !important;
}

.btn-info{
    background-color: #54b4d3 !important;
}

.btn-success{
    background-color: #14a44d;
}

.mg0{
    margin-bottom: 15.5px;
}